.banner {
    background-color: burlywood;
    text-decoration-color: brown;
    color: brown;
    padding: 10px;;
    text-align: center;
    margin-top: 0%;
    border-radius: 0px;
   font-size: 10px;
   width: 100%;
   
}
#profile-image {
    border-radius: 40%;
    width: 300px;
    height: 300px;
}
#greeting {
    color:brown;
    font-size: 50px;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9e6ff !important; /* light mauve background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}